<h2 class="main">Pets</h2>
<div class="input-group">
    <input type="text" class="form-control filter" id="filterName" name="filterName" 
    placeholder="search pets..." (keydown)="search($event)"/>
</div>
<div *ngIf="showList()">
    <section>
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let p of pets">
                    <accordion>
                        <form #frmService="ngForm">
                            <accordion-group heading=" {{p.id}} - {{p.name}} ({{p.type}})">
                                <div class="input-group">
                                    <label for="serviceOption">Service option: </label>
                                    <span class="input-group-addon" *ngFor="let service of serviceOptions" required>
                                        <input type="radio" name="serviceOption" [value]="service.code"
                                        (change)="selectServiceOption(service.code)"/>
                                        <i>{{service.description}}</i>
                                    </span>
                                </div>
                                <div *ngIf="basicServices.length > 0">
                                    <label for="type">Service type:</label>
                                    <select class="form-control" [(ngModel)]="selectedServiceCode" required name="basicService" required>
                                        <option *ngFor="let bs of basicServices" [ngValue]= "bs.code">
                                            {{bs.description}}
                                        </option>
                                    </select>  
                                    <button  type="submit" class="btn btn-primary"
                                        [disabled]="frmService.invalid"  (click)="executeService(selectedServiceOption, p.id, selectedServiceCode)">OK</button>
                                </div>
                            </accordion-group>
                        </form>
                    </accordion>
                </li>
            </ul>
        </div>
    </section>
</div>
<div class="filter" *ngIf="!showList()">
    <p>There is no pet to be shown.</p>
</div>
