
<h2>Pet Register</h2>
<section>
    <div class="container">
        <form method="post" #frm="ngForm" (ngSubmit)="create(frm)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name"
                    class="form-control" placeholder="name"
                    [(ngModel)]="pet.name" required/>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select [(ngModel)]="pet.type" required name="type" required>
                    <option *ngFor="let t of types" [ngValue]= "t">
                      {{t.description}}
                    </option>
                </select> 
            </div>
            <div class="form-group">
                <label for="name">Age</label>
                <input type="number" id="age" name="age"
                    class="form-control" placeholder="age"
                    [(ngModel)]="pet.age" required/>
            </div>
            <button type="submit" class="btn btn-primary"
            [disabled]="frm.invalid">Save</button>
        </form>
    </div>
</section>
<h2>Pets:</h2>
<ul>
    <li *ngFor="let p of pets">
        <form #frmService="ngForm" >
            {{p.id}} - {{p.name}} ({{p.type.description}})
            <div *ngFor="let service of serviceOptions" required>
                <input type="radio" name="serviceOption"
                [value]="service.code"
                (change)="selectServiceOption(service.code)"/>
                <i>{{service.description}}</i>
            </div>
            <div>
                <label for="type">Type</label>
                <select [(ngModel)]="selectedServiceCode" required name="basicService" required>
                    <option *ngFor="let bs of basicServices" [ngValue]= "bs.code">
                        {{bs.description}}
                    </option>
                </select>  
                <button *ngIf="selectedServiceOption == 1" type="submit" class="btn btn-primary"
                    [disabled]="frmService.invalid"  (click)="executeService(selectedServiceOption, p.id, selectedServiceCode)">Bath</button>
                <button *ngIf ="selectedServiceOption == 2" type="submit" class="btn btn-primary"
                    [disabled]="frmService.invalid" (click)="executeService(selectedServiceOption, p.id, selectedServiceCode)">Hair Care</button>
            </div>
         </form>
    </li>
</ul>
